@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.product-card-main-div{
  margin-top: 170px;
  margin-left: 80px;
  font-family: 'Poppins', sans-serif;

}

#product-card{
    max-width: 350px;
    height: 100vh;
   box-shadow: 0px 0px 7px 0px rgb(116, 105, 105)
}
/* #product-card:hover{
    transform: scale(1.01);
    transition: 0.4s;
} */

.product-image{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
}

    
    .product-image:hover{
        transition: 0.4s;
   transform: scale(1.04);
}

.add-to-cart-main{
    display: flex;
    justify-content: center;

}
.add-to-cart{
    background-color:#2874f0;
    color: #fff;
    height: 40px;
    width: 100px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}