@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.loading-circle{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}

.product-card-main-div{
  margin-top: 170px;

  font-family: 'Poppins', sans-serif;

}

#product-card{
    margin: auto;
  
    justify-content: center;
    align-items: center; 
    width: 80%;

   box-shadow: 0px 0px 7px 0px rgb(116, 105, 105)
}

.card-content{

    line-height: 19px;
}

.product-image{
    margin: auto;
    display: flex;
  
    justify-content: center;
    align-items: center; 
    height: 200px;
    width: 200px;
}

    
    .product-image:hover{
        transition: 0.4s;
   transform: scale(1.01);
}
.product-title{
    font-size: 20px;
}
.rating-button{
    width:45px ;
    background-color: green;
    border: none;
  color: #fff;
    border-radius: 5px;
}

.add-to-cart-main{
   
   margin-left: 30px;
   margin-top: -10px;


}
.add-to-cart{
   
   
  
 
    margin-left: 5px;
    height: 40px;
    color: #fff;
    text-align: center;
    border: none;
    width: 100px;
    font-size: 12px;
    background-color:#2874f0;
    border-radius: 5px;
}