.empty-cart{
    font-size: 25px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.empty-cart li{
    list-style-type:none ;
}


.cart-page-main{


display: flex;
justify-content: center;
align-items: center;
margin: auto;




}
.cart-page-main-div{
    margin-top: 150px;
 margin-right: 20px;
 margin-left: 20px;

}


.cart-page-image-main{
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-style{
    display: flex;
    width: 600px;
}


.cart-page-image{
 
    width:150px;
    height: 130px;
    border-radius: 50%;

    cursor: pointer;
}
.cart-page-text{
    
   justify-content: center;
   text-align: center;
   font-size: 20px;
   color:#111
}
.cart-page-price{
    color: #111;
    font-size: 20px;
    text-align: center;
}



.cart-page-remove{
 display: flex;
 justify-content: center;
 margin: auto;
font-size: 12px;
border: none;
border-radius: 5px;
background-color:red;
color:#fff;
cursor: pointer;

}




.total-main{
justify-content: flex-end;
align-items: flex-end;
margin: auto;


}
.total-amount-div-main{
  
    display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;

   
}
.uk-card{
    margin-top: 150px;
   
}
.quantity-main-div{
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;

}
.inc-dec-button{
 
   width: 30px;
   height: 20px;
   padding: 10px;
margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2874f0;
    
    
   
    cursor: pointer;
}
.counting{
 font-size: 18px;
   
}
.clear-cart{
 
    justify-content: flex-end;
   align-items: flex-end;
   display: flex; 

}

.clear-cart-button{


    height: 40px;
    width: 100px;
    border: none;
border-radius: 5px;
background-color: rgb(161, 173, 189);
color:#000;
margin-top: 30px;
}

.check-cart-button{
    background-color: #2874f0;
    color: #fff;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin-top: 30px;
    border: none;
    margin-left: 10px;

}


.total-items{
    text-align: center;
    font-size: 18px;
    line-height: 50px;
}
.total-price{
    
text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 20px;
   
}


table {
    width: 100%;
    border-collapse: collapse;
}

.header_fixed {
 
    max-height: 100vh;
    width: 100%;
    overflow: auto;
   
    border: 1px solid #dddddd;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color:#2874f0;
    color: #e6e7e8;
    font-size: 15px;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}



/* tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
} */

tr:hover td {
    /* color: #2874f0;
    cursor: pointer;
    background-color: #ffffff; */
}

td button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
}
 
 

/* ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

/* ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}  */



/* responsive */

@media only screen and (max-width: 1024px){
    .cart-page-image{
 
        width:200px;
        height: 100px;
        border-radius: 50%;
    
        cursor: pointer;
    }
    .cart-page-text{
    
        justify-content: center;
        text-align: center;
        font-size: 16px;
        color:#111
     }
     .cart-page-price{
         color: #111;
         font-size: 16px;
     }
     .counting{
        font-size: 15px;
          
       }
      
}

@media only screen and (max-width: 912px){
    .cart-page-image{
 
        width:120px;
        height: 100px;
        border-radius: 50%;
    
        cursor: pointer;
    }
    .cart-page-text{
    
        justify-content: center;
        text-align: center;
        font-size: 14px;
        color:#111
     }
     .cart-page-price{
         color: #111;
         font-size: 14px;
     }
     .counting{
        font-size: 12px;
          
       }
      
}



@media only screen and (max-width: 768px){
    .cart-page-image{
 
        width:200px;
        height: 100px;
        border-radius: 50%;
    
        cursor: pointer;
    }
    .cart-page-text{
    
        justify-content: center;
        text-align: center;
        font-size: 16px;
        color:#111
     }
     .cart-page-price{
         color: #111;
         font-size: 16px;
     }
     .counting{
        font-size: 15px;
          
       }
       .uk-card{
        margin-top: 0px;
     

       
    }
}



@media only screen and (max-width: 540px){
    .cart-page-image{
 
        width:100px;
        height: 100px;
        border-radius: 50%;
    
        cursor: pointer;
    }
    .cart-page-text{
    
        justify-content: center;
        text-align: center;
        font-size: 15px;
        color:#111
     }
     .cart-page-price{
         color: #111;
         font-size: 15px;
     }
     .counting{
        font-size: 14px;
          
       }
       .cart-page-remove{
        
       font-size: 12px;

    
       
       }
      
}


@media only screen and (max-width: 425px){
    .cart-page-image{
 
        width:100px;
        height: 100px;
        border-radius: 50%;
    
        cursor: pointer;
    }
    .cart-page-text{
    
        justify-content: center;
        text-align: center;
        font-size: 15px;
        color:#111
     }
     .cart-page-price{
         color: #111;
         font-size: 15px;
     }
     .counting{
        font-size: 14px;
          
       }
       .cart-page-remove{
        
       font-size: 12px;

    
       
       }
}





