.empty-cart{
    font-size: 25px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.empty-cart li{
    list-style-type:none ;
}


.cart-page-main{


display: flex;



}
.cart-page-main-div{
    margin-top: 150px;
}


.cart-page-image-main{
    justify-content: center;
    align-items: center;
    display: flex;
}




.cart-page-image{
 
    width: 200px;
    height: 200px;
}
.cart-page-text{
   justify-content: center;
   text-align: center;
}

.cart-page-proceed-remove{
    margin: auto;
    justify-content: center;
    align-items: center;
    
}

.cart-page-remove{
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
font-size: 17px;
border: none;
border-radius: 5px;
background-color:#fff;
color:red;


}

.cart-page-buy{
    background-color:#2874f0 ;
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 10px;
   
    border-radius: 5px;
}

#buy-delete-actions{
margin-top: -30px;
}

.total-amount-div{
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 30px;
    margin-top: 200px;
}
.inc-dec-button{
    width: 30px;
  
    border: none;
    border-radius: 5px;
    background-color:#2874f0;
    color: #fff;
}
.counting{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.clear-cart{
    justify-content: flex-end;
   align-items: flex-end;
   display: flex; 

}

.clear-cart-button{
    
    height: 40px;
    width: 100px;
    border: none;
border-radius: 5px;
background-color: rgb(161, 173, 189);
color:#000;
}

